<b><%= @entry.title %></b> (<%= @entry.identifier %>)
<table>
  <% if @thumb %>
    <tr>
      <td>
        <img src="<%= @thumb[:url] %>" height="<%= @thumb[:h] %>" width="<%= @thumb[:w] %>">
      </td>
      <td>
        <table style="white-space: nowrap">
          <%= _render('info_body.html.erb') %>
        </table>
      </td>
    </tr>
  <% else %>
    <%= _render('info_body.html.erb') %>
  <% end %>
</table>

<% if !@entry.fixed? && !@entry.buy_now.null? %>
  <% if @entry.complete? %>
    <b>You could have used Buy It Now for <%= @entry.buy_now %></b><br>
  <% else %>
    <b>Or you could buy it now, for <%= @entry.buy_now %>.</b><br>
    Note: <i>To 'Buy Now' through this program,<br>
    select 'Buy' from the Auction menu.</i><br>
  <% end %>
<% end %>

<% if @entry.complete? %><i>Listing has ended.</i><br><% end %>
<% unless @entry.comment.nil? %>
  <br><u>Comment</u><br>
  <blockquote><b><%= ERB::Util.h @entry.comment %></b></blockquote>
<% end %>
<% if @include_events %>
  <u>Events</u>
  <blockquote><pre><%= @entry.status_history %></pre></blockquote>
<% end %>
